.header {
    background: #FFFFFF;

}

.title {
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
}

.header__inner{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userAuth {
    display: flex;
    align-items: center;
}

.userAuth__createArticle {
    padding: 6px 10px;
    background: none;
    border: 1px solid #52C41A;
    border-radius: 5px;
    font-size: 14px;
    line-height: 22px;
    color: #52C41A;
    cursor: pointer;
}

.userAuth__username {
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
}

.userAuth__inner {
    display: flex;
    align-items: center;
    margin: 0 27px;
}

.userAuth__image {
    width: 46px;
    height: 46px;
    margin-left: 13px;
    border-radius: 25px;
}

.userAuth__logout {
    padding: 8px 18px;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}