body {
    background: #E5E5E5!important;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

p {
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.pagination__container {
    display: flex;
    justify-content: center;
}
